<div class="row flex-lg-row-reverse align-items-center gy-5 py-md-5 mt-2" @fade>
  <!-- [@myAwesomeAnimation]="state" (click)="animateMe()"> -->
  <div class="col-md-10 col-lg-6 mx-auto d-block rounded-circle border border-dark bg-dark px-0 mx-2 cover">
    <!-- <img
      src="https://purepng.com/public/uploads/large/purepng.com-spider-manspider-manspidermansuperherocomic-bookmarvel-comicscharacterstan-leegamesmovie-1701528656197qfp5m.png"
      class="d-block mx-auto rounded" alt="Bootstrap Themes" class="cover-img mx-auto d-block" loading="lazy"> -->
    <img src="assets/cover/cover.jpg" alt="Bootstrap Themes" class="cover-img rounded mx-auto d-block" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-md-bold lh-1 mb-3">About Me</h1>
    <p class="lead">I am Javascript developer with great skills in customization of wix/ editorX websites using
      Velo-Api. I can integrate 3rd party applications in your wix website
      using rest APIs. I can create custom functionality using wix-collections & velo code.</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="mailto:monis8khan@gmail.com" class="btn btn-dark btn-lg px-4 me-md-2">Email</a>
      <a href="Tel:+923310311465" class="btn btn-outline-secondary btn-lg px-4">Call</a>
      <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> -->
    </div>
  </div>
</div>