<div class="my-md-5">
    <h2 _ngcontent-csu-c19="" class="pb-md-2 border-bottom">Certificates</h2>
    <div class="row">
        <div *ngFor="let certificate of certificates" class="col-md-4 mb-md-3 text-center my-5">
            <div class="card rounded-5 shadow border">
                <div class="card-header bg-secondary bg-gradient text-white my-card-header">
                    <h5>{{certificate.name}}</h5>
                </div>
                <div class="card-body bg-light bg-gradient">
                    <h1 class="display-5">{{certificate.organization}}</h1>
                    <ul class="list-unstyled mt-md-3 mb-md-4 lead">
                        <li>completion Date: <span class="text-muted">{{certificate.completion}}</span></li>
                    </ul>
                    <a [href]="certificate.url? certificate.url : certificate.certificate" target="_blank" class="w-100 btn btn-lg btn-dark">View Certificate</a>
                </div>
            </div>
        </div>
    </div>
</div>