<div class="container marketing justify-content-between my-5">
    <h2 _ngcontent-csu-c19="" class="pb-2 border-bottom">Certificates</h2>
       <div class="row row-cols-1 row-cols-md-3 mb-3 text-center my-5">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Course Title</h4>
                </div>
                <div class="card-body">
                    <h1 class="display-6">Udemy<small class="text-muted fw-light">.com</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">View Certificate</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Course Title</h4>
                </div>
                <div class="card-body">
                    <h1 class="display-6">Udemy<small class="text-muted fw-light">.com</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                        <li>Course Duration: <span class="text-muted">5hrs</span></li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">View Certificate</button>
                </div>
            </div>
        </div>
    </div>
</div>