<app-navbar (scrollTo)="scroll($event)"></app-navbar>
<div @fade class="container">
    <app-hero></app-hero>
    <div class="b-example-divider"></div>
    <app-experience></app-experience>
    <div class="b-example-divider"></div>
    <app-education></app-education>
    <div class="b-example-divider"></div>
    <app-certificates></app-certificates>
    <div class="b-example-divider"></div>
    <app-portfolio></app-portfolio>
    <div class="b-example-divider"></div>
    <app-skills></app-skills>
    <div class="b-example-divider"></div>
    <app-services></app-services>
    <div class="b-example-divider"></div>
    <app-tools></app-tools>
</div>
<app-footer></app-footer>