<div class="container marketing justify-content-between my-5">
  <h2 _ngcontent-csu-c19="" class="pb-2 border-bottom">Experience</h2>
  <div *ngFor="let experience of experienceHistory" class="row featurette exp_container py-2">
    <div class="col-md-9">
      <h2 class="featurette-heading">{{experience.company}}&ensp;<span
          class="text-muted h4">{{experience.job[0].designation}}</span>
      </h2>
      {{experience.type}} | <span class="text-muted">{{experience.dur}}</span>
      <p class="lead">{{experience.description && experience.description}}
      </p>
      <div *ngIf="experience.desigCard">
        <app-desig [jobData]="experience.job"></app-desig>
      </div>
    </div>
    <div class="col-md-3 justify-content-between text-right">
      <img [src]="experience.logo" alt="company logo" width="150px">
    </div>
  </div>
  <br>
</div>